h2{
    font-size: medium;
    color: green;
    font-weight: bolder;
}
em {
    color: greenyellow;
}
.must{
    background-image: url(https://cdn.pixabay.com/photo/2018/11/17/07/10/desktop-3820634_960_720.jpg);
}
p{
    font-weight: bolder;
}